@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFE4B2;
  --foreground: #171717;
  --line-speed: 10s;
  --line-color: rgba(0, 255, 0, 0.6);
}

body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
    opacity: 0.2;
  }
  3% {
    opacity: 0.5;
  }
  6% {
    opacity: 0.1;
  }
  8% {
    opacity: 0.4;
  }
  10% {
    opacity: 0.25;
  }
  13% {
    opacity: 0.35;
  }
  16% {
    opacity: 0.15;
  }
  18% {
    opacity: 0.45;
  }
  20% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.35;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.3;
  }
}


.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 1.5s infinite;
}

@keyframes slideLeft {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

.animate-slide-left {
  animation: slideLeft 0.5s ease-out forwards;
}

.crt {
  position: relative;
  z-index: 1;
}

.dark .crt-dark {
  text-shadow: 
    0 0 5px rgba(204, 255, 170, 0.6), 
    0 0 10px rgba(166, 252, 133, 0.4), 
    0 0 20px rgba(126, 255, 75, 0.3);
  filter: brightness(1.1);
}
